*{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
}

body{
    background-color: #E8E8E8;
    padding-left: 40%;
    padding-top: 10%;
    box-sizing: border-box;
}

form{
    height: 30em;
    width: 20em;
    background-color: #E8E8E8;
    display: inline-block;
    border: #2F355F 2px solid;
    text-align: center;
    border-radius: 10px;
    box-shadow: -14px 10px 40px rgba(0, 0, 0, .3);
}

h1{
    color: #2F355F;
    margin-top: 40px;
}

.numm{
    width: 80%;
    height: 2em;
    margin-top: 3em;
}